{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'camera.js' %}" defer></script>
    <title>Camera</title>
</head>
<body>
    <div id="wrapper">
        <div id="controls">
            <button class="control" id="test">Test</button>
            <button class="control" id="canvas">Canvas</button>
        </div>
        <video id="video" autoplay></video>
        <h1 id="output">Output:</h1>
    </div>
</body>
</html>